/* ================ fonts ================ */
@font-face {
    font-family: 'Soleil-local';
    src: url("../font/SoleilRegular.otf") format("opentype");
}

@font-face {
    font-family: 'Soleil-Bold-local';
    src: url("../font/SoleilBold.otf") format("opentype");
}

/* ================ universal ================ */
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: Soleil-local, sans-serif;
}
body {
    position: relative;
    top: 120px;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* ================ containers ================ */
/**
   Class .container refers to divs that hosts the true content of the section. They are mostly sections but
   a child div of a section.
 */
.container {
    padding: 24px 12px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
        flex-grow: 1;
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        flex-grow: 1;
    }
    .container.main>div {
        max-width: 90%;
    }
}

/* ================ media-content ================ */
/**
   Class .media-content refers to divs that contains two divs namely .media.block and .content.block.
   It is found is .banner and .features classes.
 */
.media-content {
    /* dimensions */
    width: 100%;
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
}
.media-content.reverse {
    flex-direction: row-reverse;
}
.media-content .block {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-content: center;
}
.media-content .content {
    width: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.media-content .media {
    width: 48%;
    height: 100%;
}
.media.block video, .media.block img {
    width: 100%;
    height: auto;
    display: block;
}

/* ================ buttons ================ */
.button {
    width: 7.2rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: .50rem;
}
.button:hover {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
a.button {
    color: black;
    text-decoration: none;
}

/* ================ top-bar ================ */
.top-bar {
    /* dimensions */
    width: 100%;
    height: 72px;
    background: white;
    /* positioning */
    position: fixed;
    z-index: 10;
    margin-top: -128px;
    margin-left: -8px;
    margin-bottom: 55px;
    padding: 24px 12px;
    /* display */
    display: flex;
    justify-content: center;
    /* decor */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.top-bar .container {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    /* display */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.top-bar a {
    color: black;
    text-decoration: none;
}
.top-bar h1 {
    font-size: 2rem;
}
.top-bar span.Lern {
    color: #F3C31A;
}

/* ================ .banner ================ */
.banner {
    /* dimensions */
    height: 580px;
    background: white;
    /* positioning */
    position: relative;
    margin-bottom: 100px;
    /* display */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.banner .media-content {
    height: 66%;
}
.banner .content h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    /* font */
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 1.34;
}
.banner .content span {
    color: #F3C31A;
}
.banner .content h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    /* font */
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.2;
}
.banner .content .button {
    width: 12rem;
    min-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #F3C31A;
    border: none;
}
.banner .content .button:hover
.banner .media.block {
    align-items: flex-start;
}
.banner .topics {
    /* dimensions */
    width: 100%;
    padding: 25px 0;
    /* display */
    grid-row: 2 / span 1;
    grid-column: 1 /span 2;
    display: flex;
    align-items: center;
}
.banner .topics a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.banner .card {
    width: 16%;
    height: 140px;
    flex-grow: 1;

    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 1px solid #ccc;
    font-size: 1.05rem;
    line-height: 1;
}
.banner .card.math {
    border-left: none;
}
.banner .card img {
    width: 66px;
    height: auto;
    display: block;
    margin-bottom: 1rem;
}

/* ================ main ================ */
.main {
    /* display */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================ features ================ */
.features {
    /* dimensions */
    background: white;
    /* positioning */
    position: relative;

    align-items: center;
    align-content: space-evenly;
}
.features .title{
    max-width: 800px;
    margin: 0 auto 60px;
    /* display */
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.features h3, .features p {
    margin-bottom: 1rem;
}
.features h3 {
    font-family: Soleil-Bold-local, sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.3
}
.features p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.55;
    color: #525252;
}
.features .title h3 {
    font-size: 2rem;
}
.features .title p {
    font-family: Soleil-Bold-local, sans-serif;
    font-size: 1.25rem;
}
.features .media-content {
    min-height: 340px;
    margin-bottom: 40px;
}


/* ================ start ================ */
.start {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    /* dimensions */
    height: 200px;
    border-top: 2px solid black;
}
.start .button {
    width: 12rem;
    min-height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #F3C31A;
    border: none;
}
.start h3 {
    font-size: 2rem;
}


/* ================ footer ================ */
.footer {
    /* dimensions */
    width: 101%;
    height: 320px;
    /* positioning */
    margin-left: -8px;
    /* display */
    display: flex;
    padding: 32px 0;
    justify-content: center;
    /* appearance */
    background-color: black;
    color: white;
}
.footer .container{
    /* display */
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* appearance */
    color: white;
}
.footer .top {
    height: 80%;
    /* display */
    display: flex;
    flex-direction: row;
}
.footer .logo {
    /* dimensions */
    width: 50%;
}
.footer .logo a {
    color: white;
}
.footer .logo a span{
    color: #F3C31A;
}
.footer .company, .footer .products {
    /* dimensions */
    margin-left: 1rem;
    width: 25%;
}
.footer ul {
    margin: 0;
}
.footer li , .footer li a{
    padding-top: 1rem;
    color: #8e8e8e;
}
.footer .bottom {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 20%;
}
.footer ul {
    padding: 0;
    list-style-type: none;
}
.footer a {
    text-decoration: none;
}
.footer .bottom li{
    /* display */
    display: inline;
    margin-right: 2rem;
    font-size: .8rem;
}