/* Fonts */

@font-face {
    font-family: 'SoleilLocal';
    src: url("../font/SoleilRegular.otf") format("opentype");
}

/* UNIVERSAL */

html {
    font-size: 16px;
    font-family: SoleilLocal, sans-serif;
}

LernSpace
SkilSpace